#user_home{
	float:right;
}

#wel{
	float: left;
	color: #335533;
	size: 70px;
}
#user_session{
	float:right;
	color:#ff00ff;
	size: 14px;
}
#home_img{
	margin: 1px auto;
	width: 1280px;
	height:720px;
}